{% extends "base.html" %}

{% block content %}

<a href="{% url 'expenses:expense-create' %}">add</a>

<form method="get" action="">
  {{form.as_p}}
  <label for="from">From:</label>
  <input type="date" name="from" id="from" value="{{ request.GET.from|default:'' }}">
  <label for="to">To:</label>
  <input type="date" name="to" id="to" value="{{ request.GET.to|default:'' }}">
  <label for="categories">Categories:</label>
  <select name="categories" id="categories" multiple>
	{% for category in categories  %}
		<option value="{{ category.name }}">{{ category.name }}</option>
	{% endfor %}
  </select>
  <label for="sort_by">Sort by:</label>
  <select name="sort_by" id="sort_by">
    <option value="category" {% if request.GET.sort_by == 'category' %}selected{% endif %}>Category</option>
    <option value="date" {% if request.GET.sort_by == 'date' %}selected{% endif %}>Date</option>
  </select>
  <label for="sort_order">Sort order:</label>
  <select name="sort_order" id="sort_order">
    <option value="asc" {% if request.GET.sort_order == 'asc' %}selected{% endif %}>Ascending</option>
    <option value="desc" {% if request.GET.sort_order == 'desc' %}selected{% endif %}>Descending</option>
  </select>
  <button type="submit">search</button>
</form>
<br>
<table border="1">
	<caption>Expenses</caption>
	<thead>
	  <tr>
		<th>no.</th>
		<th>category</th>
		<th>name</th>
		<th>amount</th>
		<th>date</th>
		<th>actions</th>
	  </tr>
	</thead>
	<tbody>

	{% for obj in object_list %}
	  <tr>
		<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
		<td>{{ obj.category|default:"-" }}</td>
		<td>{{ obj.name|default:"-" }}</td>
		<td>{{ obj.amount|floatformat:2 }}</td>
		<td>{{obj.date}}</td>
		<td>
		  <a href="{% url 'expenses:expense-edit' obj.id %}">edit</a>
		  <a href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
		</td>
	  </tr>
	  {% empty %}
	  <tr>
		<td colspan="5">no items</td>
	  </tr>
	{% endfor %}

	<tr>
		<td colspan="2"></td>
		<td colspan="1">Total:</td>
		<td colspan="3">{{ total_amount|floatformat:2 }}</td>
	</tr>

	</tbody>
</table>

{% include "_pagination.html" %}
<hr>
<table border="1">
  <caption>Summary per category</caption>
  <tr>
    {% for category, total in summary_per_category.items %}
	<tr>
		<td>{{category}}:</td>
		<td>{{total|floatformat:2}}</td>
	</tr>
	{% endfor %}
  </tr>
</table>
<hr>
<table border="1">
    <caption>Summary per year-month</caption>
    <thead>
        <tr>
            <th>Year-Month</th>
            <th>Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summary_per_year_month %}
            <tr>
                <td>{{ summary.year|date }}-{{ summary.month|date }}</td>
                <td>{{ summary.total_amount|floatformat }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}